* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131d27;
  color: #d8d8d8;
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
}

.form-check-label {
  font-size: 1.2rem;
}


.card {
  background-color: #314152;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

.card-header {
  background-color: #225b81;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 10px;
}

.card-text {
  font-size: 1.1rem;
}

.btn-primary {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-primary:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}


#scrollButton {
  display: none;
  opacity: 0.8;
  transition: opacity 0.3s;
}

#scrollButton.show {
  display: block;
  opacity: 1;
}
