* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #131d27;
  color: #d8d8d8;
  font-family: Arial, sans-serif;
}

.container {
  margin: 0 auto;
}

.form-check-label {
  font-size: 1.2rem;
}


.card {
  background-color: #404953;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
}

.card-header {
  background-color: #225b81;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 10px;
}

.card-text {
  font-size: 1.1rem;
}

.btn-nn {
  background-color: #3498db;
  border-color: #3498db;
}

.btn-nn:hover {
  background-color: #2980b9;
  border-color: #2980b9;
}


#scrollButton {
  display: none;
  opacity: 0.8;
  transition: opacity 0.3s;
}

#scrollButton.show {
  display: block;
  opacity: 1;
}

.btn-cl{
  background-color: rgb(216, 81, 57);
  color: rgb(255, 255, 255);
}

.btn-cl:hover{
  background-color: rgb(148, 48, 31);
  color: white;
}

.btn-cil:hover{
  background-color: rgb(216, 81, 57);
  color: white;
}

.btn-mod {
  background-color: rgb(92, 63, 63);
  border-color: rgb(155, 57, 39);
  color: white;
}

.btn-mod:hover{
  background-color: rgb(63, 43, 43);
  border-color: rgb(155, 57, 39);
  color: white;
}